/* Add CSS styling here */

/*meyers reset */


html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

/* General Styles */
* {
    box-sizing:border-box;
    max-width: 100%;
}
html{
    font-size:62.5%;
}

#mainCont{
    display:flex;
    align-items:center;
    justify-content: space-around;
    
}

header{
    background-color: dodgerblue;
    border:.25rem solid gold;
}

h1 {
    font-size:8rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 1rem;
}

h2{
    font-size:4rem;
    margin-bottom:4rem;
}
h3{
    font-size:4rem;
    margin-bottom:2rem;
    margin-top:1rem;
}
h4{
    font-size:2.2rem;
}

#mainImage {
  width: 45%; 
  margin-top: 2rem; 
  margin-bottom:2rem;
}

header nav{
    text-align:left;
    padding:.25rem;  
    display: flex;
    justify-content: left;
}

#pics {
display: flex;
justify-content: space-around;
align-items:center;
flex-wrap:wrap;
align-content:baseline;
}

#home{
    background-color:blueviolet;
    color:white;
    margin-left:4rem;
}

button{
    font-size:2.4rem;
    margin-bottom:2rem;
}
#mainWords{
    width:45%;
}
#mainWords p {
    font-size:3rem;
}

footer{
    text-align:center;
    background-color:lightblue;
    border: .25rem solid lightgreen;
}

div.zeus {
    display:flex;
  /*  flex:1 1 100px; */
    max-width:23%;
    justify-content: space-around;
    flex-direction:column;
}


h4.zeus {
    display:flex;
    flex-direction:column;
    align-self:center;
    
}

@media (max-width:800px){
    button{
        font-size:1.8rem;
    }
    h1{
        font-size:6rem;
        margin-left: 1rem;
    }
    h2{
        font-size:4rem;
    }
    h3{
        font-size:2.6rem;
    }
    #mainWords p {
        font-size:1.8rem;
    }
    h4 {
        font-size:1.4rem;
    }
    .head{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
}

@media (max-width:500px){
    button{
        font-size: 1rem;
    }
    h1{
        font-size:4rem;
    }
    h2{
      font-size:3rem;  
    }
    h3{
        font-size:2rem;
    }
    h4{
        font-size:1.2rem;
    }
    #mainWords p {
        font-size:1.4rem;
    }
}

@media (max-width:360px){
    h1{
    font-size:4rem;
    }
    h2{
    font-size:2rem;
    margin-bottom:.5rem;
    }
    h3{
    font-size: 1.8rem;
    margin-bottom:.5rem;
    }
    h4{
        font-size:1.1rem;
    }
    head{
        font-size:.7rem;
    }
    #mainWords p {
        font-size:1.1rem;
    }


}